{% raw %}
{% extends "layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block content %}
<div class="body-content">
  <div class="row">
    <div class="col-sm-3">
        <h1>Change password</h1>
        <form method="POST" class="form" action="{{ url_for_security('change_password') }}" role="login" name="change_password_form">
          {{ change_password_form.hidden_tag() }}
          {{ change_password_form.csrf_token }}
          <div class="form-group">
            {{ render_field_with_errors(change_password_form.password, class_="form-control") }}
          </div>
          <div class="form-group">
            {{ render_field_with_errors(change_password_form.new_password, class_="form-control") }}
          </div>
          <div class="form-group">
            {{ render_field_with_errors(change_password_form.new_password_confirm, class_="form-control") }}
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Change Password</button>
          </div>
        </form>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}
{% endraw %}