{% raw %}
{% extends "layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block content %}
<div class="body-content">
  <div class="row">
    <div class="col-sm-3">
        <h1>Send Password Reset Email</h1>
        <form  name="forgot_password_form" class="form" method="POST"  action="{{ url_for_security('forgot_password') }}" role="form">
            {{ forgot_password_form.csrf_token }}
            <div class="form-group">
                {{ render_field_with_errors(forgot_password_form.email, placeholder="Email", class_="form-control")}}
            </div>
            <p><input class="btn btn-primary btn-submit" type="submit" value="Send Reset Email"></p>
        </form>
        <p><em>Just want to login?</em> Click <a href="{{ url_for_security('login') }}">here</a> to <a href="{{ url_for_security('login') }}">login.</a></p>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}
{% endraw %}