{% raw %}
{% extends "layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block content %}
<div class="body-content">
  <div class="row">
    <div class="col-sm-3">
        <h1>Register</h1>
        <form  name="register_user_form" class="form" method="POST"  action="{{ url_for_security('register') }}" role="form">
            {{ register_user_form.csrf_token }}
            <div class="form-group">
                {{ render_field_with_errors(register_user_form.email, placeholder="Email", class_="form-control")}}
            </div>
            <div class="form-group">
                {{ render_field_with_errors(register_user_form.password, placeholder="Password", class_="form-control")}}
            </div>
            <div class="form-group">
                {% if register_user_form.password_confirm %}
                    {{ render_field_with_errors(register_user_form.password_confirm, placeholder="Password (again)", class_="form-control")}}
                {% endif %}
            </div>
            <p><input class="btn btn-primary btn-submit" type="submit" value="Register"></p>
        </form>
        <p><em>Already registered?</em> Click <a href="{{ url_for_security('login') }}">here</a> to <a href="{{ url_for_security('login') }}">login.</a></p>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}
{% endraw %}