{% raw %}
{% extends "layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block content %}
<div class="body-content">
  <div class="row">
    <div class="col-sm-3">
        <h1>Reset Password</h1>
        <form  name="reset_password_form" class="form" method="POST"  action="{{ url_for_security('reset_password', token=reset_password_token) }}" role="form">
            {{ reset_password_form.csrf_token }}
            <div class="form-group">
                {{ render_field_with_errors(reset_password_form.password, placeholder="New Password", class_="form-control")}}
            </div>
            <div class="form-group">
                {{ render_field_with_errors(reset_password_form.password_confirm, placeholder="Retype New Password", class_="form-control")}}
            </div>
            <p><input class="btn btn-primary btn-submit" type="submit" value="Reset Password"></p>
        </form>
        <p><em>Already registered?</em> Click <a href="{{ url_for_security('login') }}">here</a> to <a href="{{ url_for_security('login') }}">login.</a></p>
        {% if security.confirmable %}
        <br/>
        <p><em>Registered but not confirmed?</em> Click <a href="{{ url_for_security('send_confirmation') }}">here</a> to <a href="{{ url_for_security('send_confirmation') }}">resend your confirmation email.</a></p>
        {% endif %}
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}
{% endraw %}