{% raw %}
{% extends "layout.html" %}
{% block content %}
    <h1>Welcome {{ session.email }}</h1>
    
    <ul class="">
      <li><a href="{{ url_for_security('change_password') }}">Change Password</a></li>
      <li><a href="{{ url_for('public.logout') }}">Logout</a></li>
    </ul>
{% endraw %}
    {{ '{%' }} if current_{{cookiecutter.core_table_title|lower}}s {{ '%}' }}
        <h2>{{cookiecutter.core_table_title}}s</h2>
        {{ '{%' }} for {{cookiecutter.core_table_title|lower}} in current_{{cookiecutter.core_table_title|lower}}s {{ '%}' }}
            <h3>#{{ '{{' }} {{cookiecutter.core_table_title|lower}}.hashtag {{ '}}' }}</h3>
        {{ '{%' }} endfor {{ '%}' }}
    {{ '{%' }} else {{ '%}' }}
        <h2>No {{cookiecutter.core_table_title}}s</h2>
    {{ '{%' }} endif {{ '%}' }}
{% raw %}
{% endblock %}
{% endraw %}
