{% raw %}
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" >
{% endraw %}
  <div class="row">
    <div class="center-block">
      <h1>Welcome to {{ cookiecutter.project_name }}</h1>
{% raw %}
    </div>
  </div>
  <div class="row">
    <p>Get the most out of your social media with on-site displays and streaming conference big screens.  Our 
    hardware revolutionizes setting up a social streaming display.  No expertise or seperate laptop/computer required, you'll 
    be amazed at both the speed of the setup as well as how fast the updates appear.
    </p>
    <p><a href="https://github.com/sloria/cookiecutter-flask" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
  </div>
</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
    <div class="col-lg-4">
      <h2><i class="fa fa-television"></i>&nbsp; Setup Anywhere</h2>
      <p>No wifi, no problem.  Splash Banner has a pre-configured celluar network plan as an available option.</p>
      <p><a class="btn btn-default" href="http://getbootstrap.com/">Official website &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-gear"></i> Easy online manager</h2>
      <p>Setup your hashtags and events with our easy to use web based management portal.  Configure moderation rules to suit your comfort level.</p>
      <p><a href="http://www.sqlalchemy.org/" class="btn btn-default" href="#">Official website &raquo;</a></p>
   </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-twitter"></i> Social with a purpose</h2>
      <p>Engage your users and fans in real-time with on site social streaming.  Maximize your community of support like never before. </p>
      <p><a href="http://wtforms.simplecodes.com/" class="btn btn-default" href="#">Official website &raquo;</a></p>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}
{% endraw %}
