{% raw %}
{% extends "layout.html" %}
{% block content %}
<div class="body-content">
  <div class="row">
    <div class="col-sm-3">
        <form id="loginForm" method="POST" class="form" action="/login/" role="login">
          {{ form.hidden_tag() }}
          <div class="form-group">
            {{ form.username(autofocus=true, placeholder="Username", class_="form-control") }}
          </div>
          <div class="form-group">
            {{ form.password(placeholder="Password", class_="form-control") }}
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Log in</button>
          </div>
        </form>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}
{% endraw %}