.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

h1{
    border-radius: 8px;
    background: white;
    padding: 20px;
    margin: 10px;
}

.menu {
    font-size: 20px;
    display: flex;
    gap: 50px;
    border-radius: 8px;
    background: white;
    padding: 20px;
}

a{
    text-decoration: none;
}