{% raw %}
{% extends "layout.html" %}
{% block head %}
<meta id="my-data" data-tweetwallboard="{{ tweetwallboard }}">
{% endblock %}
{% block content %}
<div class="row  pull-right bottom-buffer">
    <div class="col-xs-12">
{% endraw %}
        <a class="btn btn-primary" role="button" href="{{ '{{' }} url_for('{{cookiecutter.core_table_title|lower}}.create') {{ '}}' }}" >Add an {{cookiecutter.core_table_title}}</a>
{% raw %}
    </div>
</div>

<div class="row top-buffer">
    <div class="col-xs-12">

    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Hashtag</th>
                <th>Starting</th>
                <th>Ending</th>
            </tr>
        </thead>

    </table>
        
    </div>
</div>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.9/css/dataTables.bootstrap.min.css">
    <!-- dont need if using bootstrap; I think 
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.8/css/jquery.dataTables.min.css">
    -->

{% endblock %}

{% block js %}
<script type="text/javascript" src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.9/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/coretable.js"></script> 
   
{% endblock %}
{% endraw %}