{% extends 'base.html' %} {% block head %}
<title>New User</title>
{% endblock %} {% block body %}
<div class="container mt-4">
  <div class="w-75 mx-auto">
    <div class="card p-4">
      <form method="post" action="{{ url_for('cms.add_new_user') }}">
        <div>
          <h3>Create New User</h3>
        </div>
        {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <div class="row p-2">
          <div class="col-4 text-end">
            <label for="username" class="form-label">
              <strong>Username:</strong>
            </label>
          </div>
          <div class="col-8">
            <input type="text" name="username" class="form-control" />
          </div>
        </div>
        <div class="row p-2">
          <div class="col-4 text-end">
            <label for="password" class="form-label">
              <strong>Password:</strong>
            </label>
          </div>
          <div class="col-8">
            <input type="text" name="password" class="form-control" />
          </div>
        </div>
        <div class="row p-2">
          <div class="col-4 text-end">
            <label for="role" class="form-label">
              <strong>Role:</strong>
            </label>
          </div>
          <div class="col-8">
            <select name="role" id="role" class="form-select">
              <option value="writer">Writer</option>
              <option value="admin">Admin</option>
            </select>
          </div>
        </div>
        <div class="p-4">
          <button type="submit" class="btn btn-primary">Create New User</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
