{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/admin-styles.css')}}" />
<title>Admin Dashboard</title>
{% endblock %} {% block body %}
<div class="container">
  <div class="center">
    <form method="post" action="{{ url_for('api.register') }}">
      <div>
        <h3>Create new User</h3>
      </div>
      <div class="formEle">
        <label for="username">Username:</label>
        <input type="text" name="username" />
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="text" name="password" />
      </div>
      <div>
        <label for="role">Role:</label>
        <select name="role" id="role">
          <option value="writer">Writer</option>
          <option value="admin">Admin</option>
        </select>
      </div>
      <div class="formEle">
        <button class="btn btn-outline-success" type="submit">Create New User</button>
      </div>
    </form>
  </div>
  <div>
    <div class="postListTitle">
      <hr />
      <h3>Current Users - by last login</h3>
      <hr />
    </div>

    <ul class="posts">
      <p>Users will be listed here</p>
      {% for user in users %}
      <li>
        <h4>Username: {{ user.username }}</h4>
        <p>Last Login: {{ user.lastLogin }}</p>
        <p>Role: {{ user.role }}</p>
        <hr />
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}