{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/admin-styles.css')}}" />
<title>Admin Dashboard</title>
{% endblock %} {% block body %}
<div class="container">
  <div class="title">
    <a href="{{url_for('api.index')}}">Sage Giraffe CMS</a>
  </div>
  <div class="menu">
    <a href="{{url_for('api.login')}}">Login</a>
    <a href="{{url_for('api.admin')}}">Admin Dashboard</a>
    <a href="{{url_for('api.content')}}">Content Dashboard</a>
  </div>

  <div class="center">
    <form method="post" action="{{ url_for('api.register') }}">
      <div>
        <h3>Create new User</h3>
      </div>
      <div class="formEle">
        <label for="username">Username:</label>
        <input type="text" name="username" />
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="text" name="password" />
      </div>
      <div>
        <label for="role">Role:</label>
        <select name="role" id="role">
          <option value="writer">Writer</option>
          <option value="admin">Admin</option>
        </select>
      </div>
      <div class="formEle">
        <button type="submit">Create New User</button>
      </div>
    </form>
  </div>
  <div>
    <div class="postListTitle">
      <hr />
      <h3>Current Users - by date created</h3>
      <hr />
    </div>

    <ul class="posts">
      <p>Users will be listed here</p>
      {% for content in contents %}
      <li>
        <h4>{{ content.title }}</h4>
        <p>Date Created: {{ content.createdAt }}</p>
        <p>{{ content.body }}</p>
        <hr />
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}