{% extends 'base.html' %} {% block head %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/admin-styles.css')}}"
/>
<title>Content Dashboard</title>
{% endblock %} {% block body %}
<div class="container">
  <div class="center">
    <form method="post" action="{{ url_for('api.content') }}">
      <div>
        <h3>Create new post</h3>
      </div>
      <div class="formEle">
        <label for="title">Title:</label>
        <input type="text" name="title" />
      </div>
      <div>
        <label for="post">Post:</label>
        <textarea type="text" name="body"></textarea>
      </div>
      <div class="formEle">
        <button type="submit">Create New Post</button>
      </div>
    </form>
  </div>
  <div>
    <div class="postListTitle">
      <hr />
      <h3>Current Posts - by date created</h3>
      <hr />
    </div>

    <ul class="posts">
      <p>Posts will be listed here</p>
      {% for content in contents %}
      <li>
        <h4>{{ content.title }}</h4>
        <p>Date Created: {{ content.createdAt }} by {{ content.userId }}</p>
        <p>{{ content.body }}</p>
        <hr />
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
