{% extends 'base.html' %} {% block head %}
<title>New User</title>
{% endblock %} {% block body %}
<div class="container mt-4">
  <div class="w-75 mx-auto">
    <div class="card p-4">
      <h1>API Documentation</h1>
      <p>The follow is a break down of the API end points made availble</p>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#endpointOne"
              aria-expanded="true"
              aria-controls="endpointOne"
            >
              Request all posts: /api/allcountent
            </button>
          </h2>
          <div
            id="endpointOne"
            class="accordion-collapse collapse show"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">Info</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#endpointTwo"
              aria-expanded="false"
              aria-controls="endpointTwo"
            >
            Request a limited number of posts : /api/content/limit/<int:limit> 
            </button>
          </h2>
          <div
            id="endpointTwo"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">info</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#endpointThree"
              aria-expanded="false"
              aria-controls="endpointThree"
            >
            Request a specific post : post/api/content/id/<int:content_id> 
            </button>
          </h2>
          <div
            id="endpointThree"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">Info</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
