{% extends 'base.html' %}

{% block head %}
<title>Update Post</title>
{% endblock %}

{% block body %}
<div class="container mt-4">
  <div class="w-75 mx-auto">
    <div class="card p-4">
        <form method="post" action="{{ url_for('cms.update_content', post_id=content.id) }}">
          <div>
            <h3>Update Post</h3>
          </div>
          <div class="row p-2">
            <div class="col-4 text-end">
              <label for="title" class="form-label">
                <strong>Title:</strong>
              </label>
            </div>
            <div class="col-8">
              <input
                type="text"
                name="title"
                class="form-control"
                value="{{content.title}}"
              />
            </div>
          </div>
          
          <div class="row p-2">
            <div class="col-4 text-end">
              <label for="body" class="form-label">
                <strong>Body:</strong>
              </label>
            </div>
            <div class="col-8">
              <textarea name="body" class="form-control" rows="5" required>{{ content.body }}</textarea>
          
            </div>
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}