{% extends 'base.html' %}
{% block head %}
<title>Edit User</title>
{% endblock %}

{% block body %}
<div class="container mt-4">
  <div class="w-75 mx-auto">
    <div class="card p-4">
      <h3>Edit User</h3>
      <form method="post" action="{{ url_for('api.update_user', user_id=user.id) }}">       
          <div class="mb-3">
            <label for="username" class="form-label">User:</label>
            <input
              type="text"
              name="username"
              class="form-control"
              value="{{ user.username }}"
              required
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input
              type="text"
              name="password"
              class="form-control"
              required
            />
          </div>

          <div class="mb-3">
            <label for="role" class="form-label">Role:</label>
            <select name="role" class="form-select">
              <option value="admin" {% if user.role == 'admin' %}selected{% endif %}>Admin</option>
              <option value="user" {% if user.role == 'user' %}selected{% endif %}>User</option>
            </select>
          </div>
        
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
