{% extends 'base.html' %} {% block head %}
<title>CMS Index</title>
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/index-styles.css')}}"
/>
{% endblock %} {% block body %}
<div class="container index">
  <div class="center">
    <img
      src="{{url_for('static', filename='images/sageGiraffeReading.png')}}"
      alt="A wise old giraffe reading"
      class="giraffe"
    />
  </div>
</div>
<div class="container index">
  <div class="index-bar">
    <h2>Table of Contents</h2>
    <ul>
      <li><a href="#section1">How To Use It</a></li>
      <li><a href="#section2">Admin Page</a></li>
      <li><a href="#section3">Content Page</a></li>
      <li><a href="#section4">LogIn/Registration</a></li>
    </ul>
  </div>
  <div class="documentation-section">
    <h1>Documentation Section</h1>
    <h2 id="section1">How To Use It</h2>
    <p>
      Our Headless CMS was structured to be used by any costumer in any type of
      product. Through our thoughfully engineered architecture, we provide a
      platform for all your needs.
    </p>

    <h2 id="section2">Admin Page</h2>
    <p>
      Etiam consequat tellus tellus, id bibendum justo eleifend sed. Fusce
      fermentum libero a fringilla dapibus.
    </p>

    <h2 id="section3">Content Page</h2>
    <p>
      Nunc eu tincidunt tellus, ut scelerisque lorem. Sed tincidunt turpis id
      risus tincidunt feugiat.
    </p>

    <h2 id="section4">LogIn/Registration</h2>
    <p>
      Phasellus ac tristique enim, et ultrices enim. In dapibus nulla id urna
      malesuada, id interdum elit vestibulum.
    </p>
  </div>
</div>
{% endblock %}
