{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/login-styles.css')}}" />
<title>Login Page</title>
{% endblock %}

{% block body %}
<div class="login-page">
    <div class="form">
        <h2>Headless CMS Log-In</h2>
        {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        {% if register %}
        <form class="register-form" method="post" action="{{ url_for('cms.register') }}">
            <input type="text" name="username" placeholder="name" />
            <input type="password" name="password" placeholder="password" />
            <button type="submit">create</button>
            <p class="message">Already registered? <a href="{{ url_for('cms.login', register='false', login='true') }}" id="login-link">Sign In</a></p>
        </form>
        {% endif %}
        {% if login %}
        <form class="login-form" method="post" action="{{ url_for('cms.login') }}">
            <input type="text" name="username" placeholder="username" />
            <input type="password" name="password" placeholder="password" />
            <button>login</button>
            <p class="message">Not registered? <a href="{{ url_for('cms.login', register='true', login='false') }} " id="register-link">Create an account</a></p>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}